
<div class="card">
    <div class="card-header">
        <h3 class="mt-2">CẬP NHÂT DANH MỤC</h3>
    </div>
    <div class="card-body">
    	<div class="row">
    	
    		<div class="col-sm-8">
    			<div class="row">
    				<div class="form-group col-sm-6">
    					<label>id</label>
    					<input ng-model="form.id" class="form-control" />
    				</div>
    				<div class="form-group col-sm-6">
    					<label>name</label>
    					<input ng-model="form.name" class="form-control"/>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="card-footer text-center">
    	<button ng-click="create()" class="btn btn-outline-primary"><b class="fa-solid fa-square-plus"></b> Create</button>
    	<button ng-click="update()" class="btn btn-outline-success"><b class="fa-solid fa-square-pen"></b> Update</button>
    	<button ng-click="delete(form)"  class="btn btn-outline-danger"><b class="fa-solid fa-trash-can"></b> Delete</button>
    	<button ng-click="reset()" class="btn btn-outline-warning"><b class="fa-solid fa-rotate"></b> Reset</button>
    </div>
</div>