<html xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
<main>
    	 
	     <div class="login1"> 
	     <form th:action="@{security/login}" method="post">
	        
	        <div class="allform">
	            <div class="form-group">
	                <h3>ĐĂNG NHẬP</h3>       
	                <hr>
	                <input type="text" class="form-control" name="username" placeholder="Tên tài khoản" required>
	            </div>
	            <div class="form-group">
	                <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
	            </div>
	            
	             <b class="text-danger"><i>[[${message}]]</i></b>
	             <button class="btn btn-primary button-login">Đăng nhập</button>   
	             
	            <div class="quenmk11"> <a th:href="@{|/forget|}">  Quên mật khẩu? </a> </div>
	            <div class="dangky">Bạn chưa có tài khoản?  <a th:href="@{|/register|}">Đăng ký</a> </div>
	        
	        </div>
    	</form>
    	</div>
</main>

</html>