<html xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
    <main class="main-product">
        <!-- end header inner -->
        <!-- end header -->
        <!-- project section -->
        <div class="project">
            <div class="container">
                <div class="row">
                    <div class="product_category w-100 d-flex align-items-center mb-5">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong>Chọn theo sản phẩm:&nbsp;</strong>
                            </button>
                            <div class="dropdown-menu border border-dark border-opacity-25 w-100">
                                <a class="dropdown-item" th:href="@{|/product/list|}">Tất Cả</a>
                                <a class="dropdown-item" th:each="c:${cates}" th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a>
                            </div>
                        </div>
                        <ul class="nav w-100 d-flex justify-content-end align-items-center">
                            <li class="nav-item"></li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><strong>Sắp xếp theo giá:&nbsp;</strong><span class="caret"></span></button>
                                    <ul class="dropdown-menu border border-dark border-opacity-25 w-100">
                                        <li>
                                            <a th:href="@{|/product/list?cid=${cateID}&sortBy=priceDown|}" class="list-group-item list-group-item-action"
                                                ><b><i class="fa-solid fa-arrow-down-9-1 me-2"></i></b>[[#{sidebar.highest}]]</a
                                            >
                                        </li>
                                        <li>
                                            <a th:href="@{|/product/list?cid=${cateID}&sortBy=priceUp|}" class="list-group-item list-group-item-action"
                                                ><b><i class="fa-solid fa-arrow-up-1-9 me-2"></i></b>[[#{sidebar.lowest}]]</a
                                            >
                                        </li>
                                        <li>
                                            <a th:href="@{|/product/list?cid=${cateID}&sortBy=dateDown|}" class="list-group-item list-group-item-action"
                                                ><b><i class="fa-solid fa-arrow-down-a-z me-2"></i></b>[[#{sidebar.newDate}]]</a
                                            >
                                        </li>
                                        <li>
                                            <a th:href="@{|/product/list?cid=${cateID}&sortBy=dateUp|}" class="list-group-item list-group-item-action"
                                                ><b><i class="fa-solid fa-arrow-up-z-a me-2"></i></b>[[#{sidebar.oldDate}]]</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product_main mt-2">
                        <div class="project_box" th:each="item:${items}">
                            <a th:href="@{|/product/detail/${item.id}|}">
                                <div class="photo-main">
                                    <img th:src="@{|/assets/images/${item.image}|}" class="img-fluid" name="image" id="image" />
                                </div>
                                <div class="project_about">
                                    <h2 th:utext="${item.getName()}"></h2>
                                </div>
                                <span th:utext="${item.getPrice()} + ' Đ'"></span>
                            </a>
                            <div>
                                <a class="btn btn-outline-danger w-100" th:classappend="${item.available}?'':disabled" th:attr="ng-click=@{|cart.add(${item.id})|}"> Mua Ngay </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item" th:classappend="${items.number==0} ? disabled">
                            <a class="page-link" th:href="@{|product/list?cid=${cateID}&sortBy=${sort}&page=${items.number-1} &keywords=${keywords}|}" aria-label="Previous">
                                <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                            </a>
                        </li>
                        <th:block th:each="pagenumber:${pageNumbers}">
                            <li class="page-item" th:classappend="${pagenumber==items.number+1} ? active">
                                <a class="page-link" th:href="@{|product/list?cid=${cateID}&sortBy=${sort}&page=${pagenumber-1} &keywords=${keywords}|}">[[${pagenumber}]]</a>
                            </li>
                        </th:block>

                        <li class="page-item" th:classappend="${items.number==items.totalPages-1} ? disabled">
                            <a class="page-link" th:href="@{|product/list?cid=${cateID}&sortBy=${sort}&page=${items.number+1} &keywords=${keywords}|}" aria-label="Next">
                                <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</html>
