<html xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
    <main>
        <div class="container mt-5">
            <div class="card-header bg-primary text-white">
                <h3 class="mt-2">ĐƠN HÀNG CỦA BẠN</h3>
            </div>
            <table class="table table-bordered mb-0">
                <thead class="bg-warning">
                    <tr>
                        <th>Stt</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày đặt</th>
                        <th>Địa chỉ</th>
                        <th>Sđt</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order,state:${orders}">
                        <td>[[${state.index}]]</td>
                        <td>[[${order.id}]]</td>
                        <td>[[${#dates.format(order.createDate,'dd-MM-yyyy')}]]</td>
                        <td>[[${order.address}]]</td>
                        <td>[[${order.phone}]]</td>
                        <td>[[${order.status}]]</td>
                        <td>
                            <a th:href="@{|/order/detail/${order.id}|}" class="btn btn-secondary">
                                <b><i class="fas fa-search"></i></b>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</html>
