USE [master]
GO
/****** Object:  Database [doan]    Script Date: 12/23/2022 1:19:26 AM ******/
CREATE DATABASE [doan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'doan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\doan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'doan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\doan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [doan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [doan]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 12/23/2022 1:19:26 AM ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/6000DDC833E4870F53F0EC658B4039FB6B165E60'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 12/23/2022 1:19:26 AM ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F0036003000300030006400640063003800330033006500340038003700300066003500330066003000650063003600350038006200340030003300390066006200360062003100360035006500360030006F99E36BF4E6844DA6C9120897AF28CF9073289522E511CDD039CA77BA9F5CAB22935A79012EADB9A7009F6FC9CC735992025E1B80474FEABBFE2306B0ADA0A5894002E684FDB0FC1266CEDACD5B6AB8C9CE1858175DB8947709D5AFA5CF8B288C5C77763A525FA585C89A7495E81113E9099A74C389467B29B26E445415F5C3953D5389C07CBB3C18892FCF4826828E81B2E048731CAAD4A880A23775C38E08C58725D48F94FBBC0A36A4F07FDA066164C4BC332398009CA04B55F5601003AC866E0C089986BFDFD3900C33AF52E4C17F83B3EF769DD95775D9923F47EEB2C9ACAF48B11C64B74E538268477028407A08A232CC47FC96F792CBEE0EC98A3E45096BEAC4887063228E391044F610B9CEDCD2D6E0980C2B23FFF9147C9611A33574EAFE962B1E1F0FD71EB7E9E741E72AF97DAE20D476BCAADE151973FFF71D8100518090CED17B2F0A35390008DC64A1EF881FD94CF8BB86E9139E7E67C3CBCAA64FF95F156E29E15CF24D9147CC1DFCA061E9025E40969556E6535FE7DB020DFD5BF4ADA0CD534DC1175653DF589A9F1F473E3E9561976E82DBA31634F81C1EEB1BD6F65F032E49552D8331034A0644BC096E3DBEED31B98474D7AE440D620146E98FBA3D132C49FA29EEE6E52B9350E05223D0C18BC56B08EECD27ABBF8E0E276C27BC3217300950100E48CD27D0E62A256F32C9235E4D81EB81B1F36A9225
)
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[photo] [nvarchar](50) NULL,
	[sex] [bit] NULL,
	[datecreate] [date] NULL,
	[status] [bit] NULL,
	[datebirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[roleid] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NULL,
	[phone] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [char](4) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](10) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[productId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odersdetails]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odersdetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Available] [bit] NOT NULL,
	[Categoryid] [char](4) NOT NULL,
	[description] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/23/2022 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [nvarchar](10) NOT NULL,
	[name] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accounts] ([username], [password], [fullname], [email], [photo], [sex], [datecreate], [status], [datebirth]) VALUES (N'1', N'123456', N'ADMIN', N'ADMIN@gmail.com', N'user.png', 1, CAST(N'2022-10-21' AS Date), 1, CAST(N'1996-06-18' AS Date))
INSERT [dbo].[accounts] ([username], [password], [fullname], [email], [photo], [sex], [datecreate], [status], [datebirth]) VALUES (N'admin', N'123456', N'ADMIN', N'ADMIN@gmail.com', N'user.png', 1, CAST(N'2022-10-21' AS Date), 1, CAST(N'1996-06-18' AS Date))
INSERT [dbo].[accounts] ([username], [password], [fullname], [email], [photo], [sex], [datecreate], [status], [datebirth]) VALUES (N'admin123', N'123456', N'Mr.Tai', N'tai@gmail.com', N'6c830693.png', 1, CAST(N'2022-12-09' AS Date), 1, CAST(N'2002-02-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[authorities] ON 

INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (1, N'hieu', N'CUST')
INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (3, N'hieu', N'CUST')
INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (13, N'1', N'DIRE')
SET IDENTITY_INSERT [dbo].[authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([Id], [Username], [CreateDate], [Address], [status], [phone]) VALUES (1, N'admin', CAST(N'2022-12-07T00:00:00.000' AS DateTime), N'abc', N'Đang giao hàng', N'123')
INSERT [dbo].[cart] ([Id], [Username], [CreateDate], [Address], [status], [phone]) VALUES (2, N'admin', CAST(N'2022-12-07T00:00:00.000' AS DateTime), N'abc', N'Huỷ', N'01232131231231')
INSERT [dbo].[cart] ([Id], [Username], [CreateDate], [Address], [status], [phone]) VALUES (3, N'1', CAST(N'2022-12-07T00:00:00.000' AS DateTime), N'abc', N'Huỷ', N'0846121052')
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
INSERT [dbo].[categories] ([id], [name]) VALUES (N'LSP1', N'Điện Trở')
INSERT [dbo].[categories] ([id], [name]) VALUES (N'LSP2', N'Tụ Điện')
INSERT [dbo].[categories] ([id], [name]) VALUES (N'LSP3', N'Cuộn Cảm')
GO
SET IDENTITY_INSERT [dbo].[Odersdetails] ON 

INSERT [dbo].[Odersdetails] ([Id], [order_id], [product_id], [Price], [Quantity]) VALUES (1, 1, 13, 10000, 1)
INSERT [dbo].[Odersdetails] ([Id], [order_id], [product_id], [Price], [Quantity]) VALUES (2, 2, 20, 20000, 1)
INSERT [dbo].[Odersdetails] ([Id], [order_id], [product_id], [Price], [Quantity]) VALUES (3, 2, 26, 20000, 1)
SET IDENTITY_INSERT [dbo].[Odersdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([Id], [Name], [Image], [Price], [CreateDate], [Available], [Categoryid], [description]) VALUES (1, N'Điện trở dán 0805 2.4K 1% (50c)', N'1.jpg', 3000, CAST(N'2022-12-09' AS Date), 1, N'LSP1', NULL)
INSERT [dbo].[products] ([Id], [Name], [Image], [Price], [CreateDate], [Available], [Categoryid], [description]) VALUES (2, N'Điện trở dán 0805 33R 1% (dây 50c)', N'2.jpg', 3000, CAST(N'2022-12-09' AS Date), 0, N'LSP1', NULL)
INSERT [dbo].[products] ([Id], [Name], [Image], [Price], [CreateDate], [Available], [Categoryid], [description]) VALUES (3, N'Điện trở vạch 1/4W 10R 1% chân đồng (50c)', N'3.jpg', 5000, CAST(N'2022-12-09' AS Date), 1, N'LSP1', NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[roles] ([id], [name]) VALUES (N'CUST', N'Customers')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'DIRE', N'Directors')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'STAF', N'Staffs')
GO
USE [master]
GO
