<div xmlns:th="http://wwww.thymeleaf.org">
  <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="inror_box">
                            <h3>THÔNG TIN </h3>
                            <p>LK.SHOP là nơi bán linh kiên giá hợp lí nhất tại thì trường hiện tại. Chăm sóc khách hàng như người thân của chúng tôi</p>
                            <div class="footer-icon"><i class="fab fa-facebook-square"></i><i class="fab fa-google-plus-square"></i><i class="fab fa-youtube"></i></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inror_box">
                            <h3>Chính sách </h3>
                            <p>Giao nhân hàng</p>
                            <p>Thông tin thanh toán</p>
                            <p>Điều khoản sử dụng</p>
                            <p>Chính sách bảo hành</p>
                            <div class="boct">
                                <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=55824"><img src="http://mamxehoi.com/upload/hinhanh/20150827110756dathongbao-8546.png" width="150px" height="0"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inror_box">
                            <h3>FANPAGE </h3>
                            <p>
                                <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100086747940557" data-tabs="" data-width="255" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                    <blockquote cite="https://www.facebook.com/profile.php?id=100086747940557" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100086747940557">LK.CAR</a></blockquote>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inror_box">
                            <h3>ĐỊA CHỈ </h3>
                            <p>
                                <span><i class="fas fa-home"></i>&#32;778/B1 Nguyễn Kiệm, phường 4, quận Phú Nhuận, TP Hồ Chí Minh</span>
                                <span><i class="fas fa-home"></i>&#32;Lô 24, Công viên phần mềm Quang Trung, phường Tân Chánh Hiệp, quận 12, TP Hồ Chí Minh</span>
                                <span><i class="fas fa-home"></i>&#32;391A Nam Kỳ Khởi Nghĩa, phường 7, quận 3, TP Hồ Chí Minh</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        </div>