<div xmlns:th="http://wwww.thymeleaf.org">
   <!-- header inner -->
        <div class="header">
            <div class="header_top d_none1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="conta_icon ">
                                <li>
                                    <a href="#"><img src="/images/call.png" alt="#" />Hotline: 0999-333-9899</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="social_icon">
                                <li> <a href="#"><i class="fab fa-facebook-f"></i>
                              </a>
                                </li>
                                <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li> <a href="#"><i class="fab fa-instagram"></i>
                              </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="se_fonr1">
                                <form action="#">
                                    <div class="select-box">
                                        <label for="select-box1" class="label select-box1"><span class="label-desc">English</span> </label>
                                        <select id="select-box1" class="select">
                                    <option value="Choice 1">English</option>
                                    <option value="Choice 1">Falkla</option>
                                    <option value="Choice 2">Germa</option>
                                    <option value="Choice 3">Neverl</option>
                                 </select>
                                    </div>
                                </form>
                                <span class="time_o"> Mở cửa: 8.00 - 18.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_midil">
                <div class="container">
                    <div class="row d_flex">
                        <div class="col-md-4">
                            <ul class="conta_icon d_none1">
                                <li>
                                    <a href="#"><img src="/images/email.png" alt="#" /> demo@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <a class="logo" href="#"><img src="/images/logo.png" alt="#" /></a>
                        </div>
                        <div class="col-md-4">
                              <th:block th:if="${#request.remoteUser}">
		  	 <li class="nav-item">
				<a class="nav-link" th:href="@{/security/logoff}">[[#{menu.logout}]]</a>
		  	 </li>
			 <li class="nav-item">
				 <a class="nav-link" th:href="@{/order/list}">[[#{menu.order}]]</a>
			  </li>
			  <li class="nav-item" th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
				<a class="nav-link" th:href="@{/admin/home/index}">[[#{menu.admin}]]</a>
			  </li>
		  </th:block>
		  <th:block th:unless="${#request.remoteUser}">
		  	<li class="nav-item">
				<a class="nav-link" th:href="@{/security/login/form}">[[#{menu.login}]]</a>
				<a class="nav-link" th:href="@{/register}">Đăng kí</a>
				
		  	</li>
		  </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                                <div class="collapse navbar-collapse" id="navbarsExample04">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Trang chủ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/product/list}">Cửa hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="products.html">Bộ sưu tập</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="fashion.html">Giới thiệu </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-4">
                            <div class="search">
                                <form action="/action_page.php">
                                    <input class="form_sea" type="text" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm" name="search">
                                    <button type="submit" class="seach_icon"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>