<html xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
   <!-- body -->
   <main>
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <div class="fashion">
         <div class="news" id="gallary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Bộ sưu tập</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 gallary-item">
                        <div class="item"><img src="/images/product-1.jpg" alt="" class="img-fluid"></div>
                        <div class="item"><img src="/images/product-2.jpg" alt="" class="img-fluid"></div>
                        <div class="item"><img src="/images/product-3.jpg" alt="" class="img-fluid"></div>
                        <div class="item"><img src="/images/product-4.jpg" alt="" class="img-fluid"></div>
                        <div class="item"><img src="/images/product-5.jpg" alt="" class="img-fluid"></div>
                        <div class="item"><img src="/images/product-6.jpg" alt="" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
   </main>
</html>