<html xmlns:th="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<main>
<section class="banner_main">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-bg">
                        <h2> <span class="blodark"> LK.CAR </span> <br>THẾ GIỚI PHỤ KIỆN OTO</h2>
                        <p>NƠI BÁN PHỤ KIỆN XE ĐẸP VÀ RẺ </p>
                        <a class="read_more" href="#">Mua ngay</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ban_img" style="height: 100%;">
                        <figure id="product_banner" style="height: 100%;"><img src="/images/VinFast.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- six_box section -->
    <div class="six_box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx yellow_bg">
                        <i><img src="/images/tire.png" alt="#"/></i>
                        <span>Lốp xe</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx bluedark_bg">
                        <i><img src="/images/shocks.png" alt="#"/></i>
                        <span>Giảm sốc</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx yellow_bg">
                        <i><img src="/images/brakes.png" alt="#"/></i>
                        <span>Phanh</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx bluedark_bg">
                        <i><img src="/images/lamp.png" alt="#"/></i>
                        <span>Đèn</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx yellow_bg">
                        <i><img src="/images/wiperblades.png" alt="#"/></i>
                        <span>Chổi quẹt nước</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx bluedark_bg">
                        <i><img src="/images/wing.png" alt="#"/></i>
                        <span>Cánh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end six_box section -->
    <!-- project section -->
     <div id="project" class="project">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Một số sản phẩm nổi bật</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="carousel">
                    <div class="carousel-title">
                        <p>Sản phẩm mới nhất</p>
                        <a href="">Xem tất cả<i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="carousel-box">
                        <button class="button-carousel button-left"><i class="fas fa-arrow-left"></i></button>
                        <div class="carousel-product">
                            <div class="card text-left"  th:each="item:${items}">
                                <a href=""><img class="card-img-top" src="http://mamxehoi.com/upload/product/250x320x2/11-4546.jpg" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title" th:utext="${item.getName()}"></h4>
                                    <p class="card-text"th:utext="${item.getPrice()}"></p>
                                </div>
                            </div>
                        </div>
                        <button class="button-carousel button-right"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end project section -->
    <!-- fashion section -->
    <section class="banner_main-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="text_banner">
                        <p>LK.CAR </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ban_img img-fluid" style="height: 100%;">
                        <figure id="product_banner" style="height: 100%;"><img src="/images/mercedes.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text_banner">
                        <p>PHỤ KIỆN ĐẸP </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button_banner2">
                    <a class="read_more" href="#">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end fashion section -->
    <!-- news section -->
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Bộ sưu tập</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="gallary gallary_1"></div>
                <div class="gallary gallary_2"></div>
                <div class="gallary gallary_3"></div>
            </div>
        </div>
    </div>
    <!-- end news section -->
    <!-- newslatter section -->

    <!-- end newslatter section -->
    <!-- three_box section -->
    <div class="three_box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gift_box">
                        <i><img src="/images/icon_mony.png"></i>
                        <span>Hoàn lại tiền</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gift_box">
                        <i><img src="/images/icon_gift.png"></i>
                        <span>Món quà đặc biệt</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gift_box">
                        <i><img src="/images/icon_car.png"></i>
                        <span>Miễn phí vận chuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</html>