<html xmlns:th="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<main>
<section class="banner_main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-bg">
                        <h2> <span class="blodark"> LK.CAR </span> <br>THẾ GIỚI PHỤ KIỆN OTO</h2>
                        <p>NƠI BÁN PHỤ KIỆN XE ĐẸP VÀ RẺ </p>
                        <a class="read_more" th:href="@{/product/list}">Mua ngay</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ban_img" style="height: 100%;">
                        <figure id="product_banner" style="height: 100%;"><img src="/images/VinFast.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- six_box section -->
    <div class="six_box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx yellow_bg">
                        <i><img src="/images/tire.png" alt="#"/></i>
                        <span>Lốp xe</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx bluedark_bg">
                        <i><img src="/images/shocks.png" alt="#"/></i>
                        <span>Giảm sốc</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx yellow_bg">
                        <i><img src="/images/brakes.png" alt="#"/></i>
                        <span>Phanh</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx bluedark_bg">
                        <i><img src="/images/lamp.png" alt="#"/></i>
                        <span>Đèn</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx yellow_bg">
                        <i><img src="/images/technology.png" alt="#"/></i>
                        <span>Đồ công nghệ</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pa_left">
                    <div class="six_probpx bluedark_bg">
                        <i><img src="/images/wing.png" alt="#"/></i>
                        <span>Nội thất</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end six_box section -->
    <!-- project section -->
    <div id="project" class="project">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Một số sản phẩm nổi bật</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="carousel">
                    <div class="carousel-title">
                        <p>Sản phẩm mới nhất</p>
                        <a th:href="@{/product/list}">Xem tất cả<i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="carousel-box">
                        <button class="button-carousel button-left"><i class="fas fa-chevron-left"></i></i></button>
	                        <div class="carousel-product">
	                            <div class="card text-left" th:each="item:${items}">
		                            <a th:href="@{|/product/detail/${item.id}|}">
		                                <img class="card-img-top" th:src="@{|/assets/images/${item.image}|}"  alt="">
		                                <div class="card-body">
		                                    <h2 th:utext="${item.getName()}"></h2>
		                                    <span class="" th:utext="${item.getPrice()}"></span>
		                                </div>
		                            </a>
                                    <button class="btn btn-outline-danger btn-sm w-50 m-1" th:classappend="${item.available}?'':disabled" th:attr="ng-click=@{|cart.add(${item.id})|}">add cart</button>
	                            </div>
	                        </div>
                        <button class="button-carousel button-right"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end project section -->
    <!-- fashion section -->
    <section class="banner_main-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="text_banner">
                        <p>LK.CAR </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ban_img img-fluid" style="height: 100%;">
                        <figure id="product_banner" style="height: 100%;"><img src="/images/mercedes.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text_banner">
                        <p>PHỤ KIỆN ĐẸP </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button_banner2">
                    <a class="read_more" th:href="@{/product/list}">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end fashion section -->
    <!-- news section -->
    <div class="news" id="gallary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Bộ sưu tập</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 gallary-item">
                    <div class="item"><img src="/images/product-1.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="/images/product-2.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="/images/product-3.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="/images/product-4.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="/images/product-5.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="/images/product-6.jpg" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end news section -->
    <!-- newslatter section -->

    <!-- end newslatter section -->
    <!-- three_box section -->
    <div class="three_box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gift_box">
                        <i><img src="/images/icon_mony.png"></i>
                        <span>Hoàn lại tiền</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gift_box">
                        <i><img src="/images/icon_gift.png"></i>
                        <span>Món quà đặc biệt</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gift_box">
                        <i><img src="/images/icon_car.png"></i>
                        <span>Miễn phí vận chuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end three_box section -->
    </main>
</html>