/*Shopping cart table style*/

.shop-table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.shop-table th {
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
.shop-table tbody td {
    text-align: center;
    border: 1px solid #e2e2e2;
    vertical-align: middle;
    padding: 10px;
    border-left: none;
}
.shop-table tbody tr td:first-child {
    border-left: 1px solid #e1e1e1;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
.shop-table tbody tr td:last-child {
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}
.shop-table tr {
    width: 100%;
}
.shop-table th:first-child,
.shop-table td:first-child {
    width: 15%;
}
.shop-table th:nth-child(2),
.shop-table td:nth-child(2) {
    width: 45%;
}
.shop-table th:nth-child(3),
.shop-table td:nth-child(3),
.shop-table th:nth-child(4),
.shop-table td:nth-child(4),
.shop-table th:nth-child(5),
.shop-table td:nth-child(5),
.shop-table th:nth-child(6),
.shop-table td:nth-child(6) {
    width: 10%;
}
.shop-table img {
    max-height: 130px;
}
.shop-details {
    position: relative;
    text-align: left;
    padding: 0 10px;
}
.shop-details .productname {
    text-align: left;
    font-weight: 400;
}
.shop-details .color-choser {
    position: relative;
}
.shop-details .text {
    float: left;
    padding: 2px 15px 5px 0;
}
.shop-details .color-choser li {
    display: inline-block;
    margin: 0 5px 5px 0;
}
.shop-details .color-choser li a {
    float: left;
    width: 16px;
    height: 16px;
    font-size: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.pcode {
    padding-left: 15px;
    color: #f7544a;
}
.shippingbox {
    margin: 15px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #e1e1e1;
    padding: 30px;
    float: left;
    width: 100%;
}
.shippingbox label {
    position: relative;
    margin-bottom: 8px;
    width: 100%;
}
.shippingbox select,
.shippingbox input {
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
}
.subtotal,
.grandtotal {
    float: left;
    position: relative;
    width: 100%;
}
.subtotal h5 {
    float: left;
    width: 45%;
    text-align: right;
    font-weight: 400;
}
.subtotal span {
    float: right;
    width: 45%;
    font-weight: 500;
    font-size: 20px;
}
.grandtotal h5 {
    width: 45%;
    font-weight: 400;
    font-size: 20px;
}
.grandtotal span {
    float: right;
    width: 45%;
    font-weight: 500;
    font-size: 25px;
    color: #fe5252;
} /* checkout page sytle */
.checkout-page {
    float: left;
    width: 100%;
    position: relative;
    clear: both;
}
.checkout-steps {
    position: relative;
    width: 100%;
    float: left;
}
.checkout-steps .steps {
    float: left;
    width: 100%;
    border: 1px solid #cccccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.checkout-steps .step-title {
    float: left;
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    margin: 0;
    background: url(../images/down-arow-2.png) right 25px top 22px no-repeat;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}
.checkout-steps .active .step-title {
    background: url(../images/up-arow.png) right 25px top 22px no-repeat;
}
.checkout-steps .disable .step-title {
    cursor: default;
}
.step-description {
    float: left;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 30px;
}
.input-radio {
    float: left;
    position: relative;
    display: inline-block;
    padding-right: 10px;
}
.step-description h5 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.new-customer label {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.new-customer label .text {
    float: left;
    padding-top: 2px;
}
.new-customer p.requir {
    float: left;
    padding: 25px 0 30px 0;
}
.form-row .input[type="text"],
.form-row .input[type="email"],
.form-row .input[type="password"],
.form-row .input[type="tel"],
.form-row .input[type="number"] {
    width: 100%;
    padding: 10px 10px 10px 100px;
}
.form-row .input[type="password"] {
    padding-left: 100px;
}
.form-row .input[type="password"].cpass {
    padding-left: 160px;
}
.form-row .lebel-abs {
    left: 20px;
    position: absolute;
    top: 12px;
}
.forgoten {
    padding: 10px 0 25px 0;
    text-align: right;
}
.pass-wrap {
    clear: both;
    padding: 10px 0 30px 0;
}
.privacy {
    padding: 10px 0;
} /*Contact us page style */
.contact-title {
    font-weight: 400;
    font-size: 20px;
}
.map iframe {
    float: left;
    width: 100%;
}
.map iframe {
    float: left;
    width: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
    -webkit-box-shadow: inset 0 0 20px 5px #949494;
    box-shadow: inset 0 0 20px 5px #949494;
}
.contact-infoormation,
.ContactForm {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    float: left;
    margin: 15px 0;
    padding: 30px;
    width: 100%;
}
.contact-infoormation h5,
.ContactForm h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact-infoormation p {
    font-size: 13px;
    color: #434343;
    line-height: 22px;
    text-align: justify;
}
.contact-infoormation ul {
    float: left;
    width: 100%;
    padding-top: 20px;
    position: relative;
}
.contact-infoormation ul li {
    display: list-item;
    margin-top: 5px;
}
.contact-infoormation ul li p {
    line-height: 18px;
}
.contact-infoormation .icon {
    float: left;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 10px 10px 0;
}
.ContactForm label {
    position: relative;
    display: block;
    margin-bottom: 8px;
}
.ContactForm .inputfild {
    width: 100%;
    margin-bottom: 22px;
}

/* CSS */
.button-44 {
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: 0.8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    word-break: break-word;
    border: 0;
}

.button-44:active,
.button-44:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px inset;
    outline: 0;
}

.button-44:hover {
    color: #fff !important;
    border-bottom-style: none;
    border-color: #dadada;
}

.mt-2 {
    color: #fff !important;
}
