<html xmlns:th="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<main th:fragment="shopping-cart">
	<div class="wrapper">
		<div class="container_fullwidth">
			<div class="container shopping-cart">
				<div class="row my-5">
					<div class="col-md-12">
						<table class="shop-table">
							<thead>
								<tr>
									<th>Hình</th>
									<th>Tên sản phẩm</th>
									<th>Giá</th>
									<th>Quantity</th>
									<th>Thành tiền</th>
									<th>Delete</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in cart.items">
									<td><img src="/assets/images/{{item.image}}"/></td>
									<td>
										<div class="shop-details">
											<div class="productname">{{item.name}}</div>
											</strong>
											</p>
										</div>
									</td>
									<td>
										<h5>${{item.price | number:2}}</h5>
									</td>
									<td><input ng-change="cart.saveToLocalStorage()"
										ng-model="item.qty" type="number" min="1"
										style="width: 100px;"></td>
									</td>
									<td>
										${{item.qty*item.price | number:2}}</td>
									<td>
										<button ng-click="cart.remove(item.id)" class="btn btn-danger">
											<i class="fas fa-trash"></i> xoá
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="clearfix">
							<button ng-click="cart.clear()" class="btn btn-danger">
								<i class="fas fa-trash"></i> xoá tất cả
							</button>
						</div>
						<div class="row w-100">
							<div class="col-md-4">
								<div class="shippingbox">
									<div class="grandtotal d-flex align-items-center">
										<h5>Tổng tiền</h5>
										<span>${{cart.amount}}</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 d-flex align-items-center justify-content-center">
								<a th:href="@{/product/list}" class="button-44">Tiếp tục mua hàng</a>
							</div>
							<div class="col-md-4 d-flex align-items-center justify-content-center">
								<a th:href="@{|order/checkout|}" class="button-44">Thanh toán sản phẩm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
			
</main>
</html>