.quenmk{
            width: 40%;
            border: 1px solid silver;
            box-shadow: 6px 6px gray;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0px 40px;
            
        }
        h3{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: blue;
            padding-top: 20px;
            text-align: center;
        }
        .button-forget{
            width: 100%;
            text-align: center;
        }
        
        .form-group{
        	width: 100%;
        	text-align: center;
        }
        
        .dangnhap a{
            text-decoration: none;
            color: blue;
            
        }
        .dangnhap a:hover{
            color: tomato;
        }
        