<div class="card">
	<div class="card-header">
		<h3 class="mt-2">DANH SÁCH TÀI KHOẢN</h3>
	</div>
	<div class="card-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>User-name</th>
					<th>Full-Name</th>
					<th>Email</th>
					<th>Photo</th>
					<th>Gender</th>
					<th>Day Create</th>
					<th>Status</th>
					<th>Day Birth</th>

					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td>{{item.username}}</td>
					<td>{{item.fullname}}</td>
					<td>{{item.email}}</td>
					<td><img height="50px" width="50px" ng-src="/assets/avatar/{{item.photo}}" alt=""></td>
					<td>{{item.sex? 'nam':'nữ'}}</td>
					<td>{{item.datecreate | date:'MM/dd/yyyy'}}</td>
					<td>{{item.status?'hoạt động' :'không hoạt động'}}</td>
        			<td >{{item.datebirth | date:'MM/dd/yyyy'}}</td>
					<td class="text-center">
						<button ng-click="edit(item)" class="btn btn-outline-success rounded-circle btn-cus"><i
								class="fa-solid fa-square-pen"></i></button>
						<button ng-click="delete(item)"class="btn btn-outline-danger rounded-circle btn-cus"><i
								class="fa-solid fa-trash-can"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-center">
		<!-- <button ng-click="pager.first()" class="btn btn-sm"
			style="width: 42px;">
			<i class="fa-solid fa-backward-step"></i>
		</button> -->
		<button ng-click="pager.previous()" class="btn btn-sm">
			<i class="fas fa-chevron-left"></i>
		</button>
		<button class="btn btn-sm">{{pager.page+1}} of
			{{pager.count}}</button>
		<button ng-click="pager.next()" class="btn btn-sm">
			<i class="fas fa-chevron-right"></i>
		<!-- </button>
		<button ng-click="pager.last()" class="btn btn-sm"
			style="width: 42px;">
			<i class="fa-solid fa-forward-step"></i>
		</button> -->
	</div>
</div>